<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Tracker Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="css/Dashboard.css">
</head>
<body>
    <div class="container">
        <!-- aside section start here -->
        <aside>
            <div class="top">

                <div class="logo">
                    <h2 class="header">Personal<br/><span class="primary">Finance-Tracker</span></h2>

                </div>

                <div class="close">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </div>

            </div>
             <!-- end top -->

             <div class="sidebar">

                <a href="#" class="active">
                    <span class="material-symbols-outlined">
                        grid_view
                    </span>
                    <h3>Dashboard</h3>
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                       account_circle               </span>
                    <h3>Profile</h3>
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                      notifications  
                    </span>
                    <h3>Notification</h3>
                    <div class="msg_count">5</div>
                   
                </a>
        
                <a href="#">
                    <span class="material-symbols-outlined">
                        trending_up                    </span>
                    <h3>My Incomes</h3>
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        earthquake                   </span>
                    <h3>My Expenses</h3>
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                       lab_profile                    </span>
                    <h3>Reports</h3>
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                       settings                  </span>
                    <h3>Settings</h3>
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                       Logout               </span>
                    <h3>Log out</h3>
                </a>



             </div>







        </aside>
        <!-- aside section end -->

        <!-- main section start here -->
        <main>
            <h1>Dashboard</h1>

            <div class="date">
                <input type="date">
            </div>

            <div class="insights">


                <!--start incomes-->
                <div class="incomes">
                    <span class="material-symbols-outlined">trending_up</span>
                    <div class="middle">

                        <div class="left">
                            <h3>Total Incomes</h3>
                            <h1>Rs.30,000/-</h1>
                        </div>

                        <div class="progress">
                            <svg> <!-- svg ko use le hamile afno hisab le circle create garna sakxam -->
                                <circle r="30" cy="40" cx="40"></circle>
                            </svg>
                            <div class="number">
                                80%
                            </div>
                        </div>

                    </div>

                    <small>Last 30 days </small>    
                </div>


                <!--end incomes-->

                  <!--start expenses-->
                  <div class="expenses">
                    <span class="material-symbols-outlined">earthquake</span>
                    <div class="middle">

                        <div class="left">
                            <h3>Total Expenses</h3>
                            <h1>Rs.18,000/-</h1>
                        </div>

                        <div class="progress">
                            <svg> <!-- svg ko use le hamile afno hisab le circle create garna sakxam -->
                                <circle r="30" cy="40" cx="40"></circle>
                            </svg>
                            <div class="number">
                                40%
                            </div>
                        </div>

                    </div>

                    <small>Last 30 days </small>    
                </div>


                <!--end expenses-->


                  <!--start balance-->
                  <div class="balance">
                    <span class="material-symbols-outlined">account_balance</span>
                    <div class="middle">

                        <div class="left">
                            <h3>Net Balance</h3>
                            <h1>Rs.12,000/-</h1>
                        </div>

                        <div class="progress">
                            <svg> <!-- svg ko use le hamile afno hisab le circle create garna sakxam -->
                                <circle r="30" cy="40" cx="40"></circle>
                            </svg>
                            <div class="number">
                                20%
                            </div>
                        </div>

                    </div>

                    <small>Last 30 days </small>    
                </div>


                <!--end balance-->

            </div>

            <!-- Ending insights -->




        </main>

        <!-- main section end here -->

        <!-- Right section start here -->
        <div class="right">
            <h1>Right Side</h1>
        </div>
        <!-- Right section end here -->      

    </div>
    
      
   
</body>
</html>
