<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Personal Finance Tracker</title>
    <link rel="stylesheet" href="css/Login.css"> <!-- Link to your external CSS file -->
</head>
<body>
    <div class="container">
        <form class="login-form" action="/" method="POST">
            <h1>Login</h1>
            <div class="input-container">
                <label for="username">Username</label>
                <input type="username" id="username" name="email" placeholder="Enter your username" required>
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit">Login</button>
            <p>Don't have an account? <a href="/Register">Register</a></p>
        </form>
    </div>
</body>
</html>
