<% layout('layouts/dashboard-asidebar')%>    

    <header>
        <h1>Expenses</h1>
    </header>
    <div class="container">
        <table class="expense-table">
            <thead>
                <tr>
                    <th>Expense Category</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Remarks</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <td><input type="text" id="income" >DigitalCourse</td>
                            <td><input type="text" id="Amount" />1000</td>
                            <td><input type="text" id="Date" >2080-01-01</td>
                            <td><input type="text" id="Remarks" />Earning this month</td>
                    </tr>

            
                
            </tbody>
        </table>
    </div>
