<% layout('layouts/dashboard-asidebar')%>   
    <header>
        <h1>Incomes</h1>
    </header>
    <div class="container">
        <table class="income-table">
            <thead>
                <tr>
                    <th>Source of Income</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Remarks</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" id="fname" oninput="data()" name="manishsir"/></td>
                    <td>Rs.300000/-</td>
                    <td>2023-10-15</td>
                    <td>Online course sales</td>
                    <td>
                        <button class="edit-button">Edit</button>
                        <button class="delete-button">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>Investment Income</td>
                    <td>Rs.20000/-</td>
                    <td>2023-10-14</td>
                    <td>Stock dividends</td>
                    <td>
                        <button class="edit-button">Edit</button>
                        <button class="delete-button">Delete</button>
                    </td>
                </tr>
                <!--You can  Add more income entries here -->
            </tbody>
        </table>
    </div>
    <button class="add-button">Add Income</button>


    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->

<!-- <script>
    function data(){
        const hello = document.getElementById('fname').value;  
        console.log(hello);

    }
    
    function data(e) {
        e.preventDefault();

      let name = $('#fname').val();
      console.log(name);
    }
    console.log("hello");
    
</script> -->


       
      



