<% layout('layouts/dashboard-asidebar')%>    

    <header>
        <h1>Notifications</h1>
    </header>
    <div class="container">
        <ul class="notification-list">
            <li class="notification-item">
                <p class="notification-text">You have a new income of Rs.15,000.</p>
                <span class="notification-time">2 hours ago</span>
            </li>
            <li class="notification-item">
                <p class="notification-text">Reminder: Pay your monthly bills.</p>
                <span class="notification-time">10 hours ago</span>
            </li>
            <li class="notification-item">
                <p class="notification-text">You spend Rs.40,000 in your Trip to Mustang.</p>
                <span class="notification-time">1 day ago</span>
            </li>
            <li class="notification-item">
                <p class="notification-text">Reminder: Pay your Flat Rent.</p>
                <span class="notification-time">2 day ago</span>
            </li>
            <!--You can Add more notification items here -->
        </ul>
    </div>


