<% layout('layouts/dashboard-asidebar')%>    

<!-- line 2 dekhi tala ko kura body vayera inject hunxa Line 1 ko code le body tag use gareko thau ma haldinxa -->
<header>
        <h1>Welcome, Manish Sir</h1>
        <p>Your Profile Information</p>
    </header>
    <div class="container">
        <aside>
            <main>
                <section class="profile-details">
                    <h2>Profile Details</h2>
                    <div class="profile-info">
                        <img src="Images/manishSir.jpg" alt="Profile Picture">
                        <div class="user-details">
                            <h3>Manish Basnet</h3>
                            <p>Email:digitalpathsala@gmail.com</p>
                            <p>Location: Nepal</p>
                            <p>Age:21</p>
                        </div>
                    </div>
                </section>
                <section class="financial-info">
                    <h2>Financial Information</h2>
                    <div class="financial-details">
                        <div class="income">
                            <h3>Total Income</h3>
                            <p>Rs 2,00,000</p>
                        </div>
                        <div class="expenses">
                            <h3>Total Expenses</h3>
                            <p>$30,000</p>
                        </div>
                        <div class="net-balance">
                            <h3>Net Balance</h3>
                            <p>Rs 1,70,000</p>
                        </div>
                    </div>
                </section>
            </main>


        </aside>
    </div>
   
   

