* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 70px;
    width: 70px;
    /* background-color:black; */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero section styles */
#hero {
    text-align: center;
    padding: 100px 0;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    color: #444;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Sections styles */
section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }

    ul li {
        margin: 10px 0;
    }

    #hero {
        padding: 80px 0;
    }

    #hero h1 {
        font-size: 28px;
    }

    #hero p {
        font-size: 16px;
    }

    section {
        padding: 30px 10px;
    }

    section h2 {
        font-size: 24px;
    }

    section p {
        font-size: 16px;
    }
}
