body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7380ec;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
}

.expense-table {
    width: 100%;
    border-collapse: collapse;
}

.expense-table th, .expense-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.expense-table th {
    background-color: #7380ec;
    color: #fff;
}

.expense-table tr:hover {
    background-color: #f7f7f7;
}

.edit-button, .delete-button, .add-button {
    background-color:#7380ec;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button, .delete-button {
    margin-right: 5px;
}

.add-button {
    float: left;
    margin-left: 1rem;
}

.edit-button:hover, .delete-button:hover, .add-button:hover {
    background-color: #7380ec;
}
