/* Profile.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}



.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

aside {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-between;
}

.profile-details {
    flex: 1;
    margin-right: 20px;
}

.profile-details h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.profile-info {
    display: flex;
}

.profile-info img {
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details {
    font-size: 16px;
}

.user-details h3 {
    margin: 0;
}

.user-details p {
    margin: 5px 0;
}

.financial-info {
    flex: 1;
}

.financial-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.financial-details {
    display: flex;
    justify-content: space-between;
}

.income, .expenses, .net-balance {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.income h3, .expenses h3, .net-balance h3 {
    font-size: 20px;
    margin: 0;
}

.income p, .expenses p, .net-balance p {
    font-size: 18px;
    margin: 0;
}
